body
{
    color: whitesmoke;
    background-image: url("fond gsm.jpg");
    font-family: monospace;
    text-align: left;
    margin-top: auto;
    margin-left: 20em;
    margin-right: auto;
    
}
.bouton
{
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    background-color: blue;
    
}
.bouton:hover
{
    color:black;
    background-color: whitesmoke;
}
